﻿h4#qa-title { margin:0; padding:10px; width:100%; font-size: 14px; font-weight:bolder; border-top:solid 1px #ccc; background-color:#eee; color:#666; text-align:left; }
commentingcontent .main { width:500px; height:500px; border:solid 2px #bcc; padding:5px; margin:0 auto; display:block; }
CommentingContent { font-family: Meiryo; width:100%; }
editpanel { border: solid 0px green; width:100%; float:left; margin:4px 0 0; }
.ccmain, .avator, .provide-qs, .btn-ask-submit, .cmtHistory, 
.cmtHistory .cmmt,
.cmtHistory .createAt,
.cmtHistory .callName,
.cmtHistory .cmmtBody { float:left; }
.ccmain { width:100%; border:0px solid #ccc; padding:0 0 20px;  display:no322ne; background-color:#fff;  }
.avator { width:48px; height:48px; cursor:pointer; margin:0; padding:0; display: inline-block; border-radius: 50%; border: 1px solid #eee; background:#fff; }
.avator-inner  { background-size:cover; background-position:center center; height: 100%; border-radius:50%;}
.provide-qs { margin:0 0 0 10px; font-size:14px; padding:6px 18px; border:solid 1px #ccc; color:#555; float:right; padding:6px; height:100px; left:90px; width:100%; display:none; border-radius:4px; line-height:18px; }

.btn-ask-submit, .btn-cmt-cancel { float:right; margin:0 0 0 8px; padding:2px 8px; font-size:11px; }
.cmtHistory { border-top:1px solid #ccc; margin:5px 2%; width:97%; padding-top:10px; font-size:15px; overflow:auto; max-height:450px; box-shadow: -12px -4px -14px 0 #555; }
.cmtHistory .callName, .cmtHistory .createAt { font-size:12px; color:#777; margin:2px 2px 0 0;  }
.cmtHistory .createAt { float:right; font-size:9px; color:#999; margin-left:4px; }
.cmtHistory .callName {
    color: #0066CC;
    font-weight: bolder;
}
.cmtHistory .cmmt,.cmtHistory .cmmtBody { width:100%; margin:0; padding:4px 0; border:0px solid #ddd; }
.cmtHistory .cmmt,
    .cmtHistory .replyed {  }
    .cmtHistory .replyed { float:left; width:94%; margin:2px 0 4px 6%; border: 0px solid #fff; border-left: 0px solid green; }
.cmtHistory .cmmt { border-bottom: 1px dotted #aaa; padding:0 0 12px; margin: 2px 0 4px; }
.cmtHistory .cmmtBody { border-bottom:solid 1px #fff; color:#666; margin-top:-2px; cursor:pointer; }
.cmtHistory .cmmtBody.editable span { border:solid 1px #eee; padding:9px 2%; width:99%; margin:3px 0 0; line-height:16px;  }
.cmtHistory .cmmtBody.editable span:hover { border:solid 1px #bbb; }
.cmtHistory .cmmtBody span { font-size:13px; display:inline-block; width:100%;  }
.btns { background-color:#fff; padding: 0; margin:0; border:0 solid #aaa; float:right; }
.btns .cmt-reply, .btns .cmt-remove , .btns .reply-save
    { display:inline-block; float:left; background-color:#999; color:#fff; margin-left:4px; padding:1px 8px; 
      font:bold 11px/13px Monospace; border:0px solid #eee; cursor:pointer; border-radius:4px; }
.btns .cmt-reply:hover, .btns .cmt-remove:hover , .btns .reply-save:hover 
    { border:0px solid #ccc; border-radius:3px; background-color:#eee; color:#777; }
.ratebox { float:right; border-bottom:0px solid #eee;  min-height:16px; margin-top:3px;  }
.ratebox .ui.rating { float:right; }
RateDscr
{
    color: #FF6699;
    font: bold 12/22px;
    float: right;
}
.cmtbtns { width:100%; border:0px solid #ddd; padding:2px 0 0 10px; display:inline-block; float:right;}
.cmtbtns .lb-ispublic { float:right; margin:5px; font-size:12px; line-height:13px; color:#666; vertical-align:top;  }
#isPublic { margin:0 6px; }
.ispublic-icon { float:right; }

#cmt-edit-table { border:solid 0px #aaa; width:100%; padding:0; margin:0 10px 0 0;}
.cmt-table-td-avator { border:solid 0px #aaa; width:50px; vertical-align:top; padding: 0 12px; }

 /*console.log("cookie:", ck);
$.post("http://192.168.6.20:8999/AuthService.asmx/GetUserByToken", { "Token": ck }, function (rs) {
    //$.post("http://localhost:1596/www.sso.com/AuthService.asmx/GetUserByToken", { "Token": getTokenByCookie() }, function (rs) {
    var uid = $(rs).find("EmployeeID")[0];
    //console.log((uid === undefined) ? "您尚未登入" : uid.textContent);
});*/