﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>[{{CommentingTitle}}] {{WhoReplyed}}{{Status}}:{{CommentPartial}}</title>
</head>
<body>
<div class="pree" style="color:#888; font-size:15px;">
Dear {{UserName}},<br /><br />

{{WhoAsk}}剛回覆了一個問題，請看下列說明：
<div style="border:2px solid #ddd; color:#555; font-size:14px; line-height:16px; padding:12px 22px; margin:20px;">
{{Comment}}
<br /><br />

</div>
 您可登入<a href="http://oneportal.sunsys.tpe" target="_blank" style="color:Blue;">ONEPortal</a>查看進一步說明，謝謝。
</div>

</body>
</html>
