﻿body { display:inline-block;  margin:0; width:100%; }
.sideheader  {  position:fixed; top:-10px; left:-2px; height:110%; z-index:999; padding:16px;
                width:390px; box-shadow: 10px 13px 10px #aaa; background-color:#eeebbb; border:solid 1px #999;  } 
#QuestionList{ margin:18px auto 100px 420px; display:block; width:800px;}
#QuestionListPV{ margin:18px auto; display:block; width:800px;}
.hidden,.template { display:none; }
.right { float:right; }

.btns { padding:1px 0 5px; width:100%; display:inline-block; margin:22px 0 0 0; }

.h2.pyrf { background-color:red; color:#fff; font-size:12px; position:absolute; top:0px; left:0px; padding:1px 20px; margin:0; }
.ui.checkbox { font-size:0.9em;}
.editH3 { position:absolute; top:7px; left:-5px; background-color: #666; color:#fff; padding:5px 12px; margin:0; font-size:13px; }
.helpDscr { margin:12px 0 22px; font-size:15px; color:#777; }
.ui.form input[type="text"].fsName , 
    .ui.form textarea.fsDscr { margin:0; padding:4px 8px; font-size:13px; color:#555; width:350px; margin:0; font-weight:300; }
    .ui.form textarea.fsDscr { height:70px; min-height:5em; }
    
.FormEditPanel,.FormPanelPreview { padding:0; margin:0; border:solid 0px #eee; }
.FormPanelPreview { margin:0 auto; display:block; width:700px; }
.item-subbtn { text-align:right; width: 280px;}
#editItemPanel { display:none; }
.editItemPanel { width:700px; border: solid 2px #444; margin: 0 auto;}

.ui.raised.segment.op-item-real { margin-bottom:4px; }
.ui.raised.segment.op-item { cursor:move; margin-bottom:8px; }
.ui.raised.segment.op-item:hover {  background-color:#eee; border:dashed 1px #aaa; }
.p-gid, .p-title, .p-helpText, .p-ctrl, .p-options 
        { color:#333; font-size:17px; border:solid 0px #eee; margin:0 160px 0 90px;}
.p-gid {color:#aaa; font-size:11px; padding:0; display:no22ne; }
.p-ctrl { margin-top:5px; }
.p-helpText { color:#888; font-size:15px; }

.ui.floating.label.op{ left:22px; top:-8px; font-size:18px; line-height:18px; font-weight:bold; }
.ui.basic.table tbody tr { border-color:#fff; }
.ui.form input[type="text"].fdop { width:70%; padding:5px 12px; margin:2px; }
.remove-sign { cursor:pointer; }
i.icon.check.square,
i.icon.remove { margin:6px 0 0;}
.opt-tmp { display:none; }
    .QSCtrl .column { border:solid 1px #eee; cursor:inherit; }
    .QSCtrl .column:hover { border:dashed 1px #aaa; cursor:move; }
#btnAddOpt { margin:8px 0 0 40px;  }
#SortNo { font-size:1.2em; font-weight:bold;   }

.ui.compact.table td.tt { text-align:right; vertical-align:top; line-height:32px;  }
#ddl_QsTyp { padding:4px; font-size:14px; border:solid 1px #ccc; color:#666; border-radius:4px; }
.QSCtrl { margin: 5px 0; padding:7px;  background-color:#eee; }
.text1 { border:dotted 0px #777; width:100%; height:1em; }
.text2 { border:dotted 0px #777; width:100%; height:4em; }

.ui.form .field { margin:0 36px 4px 0;}
.ui.form .field.oneline { display:inline-block; margin: 0 30px 0 0; }
.ui.table tr td { border-top: 1px solid #fff; padding:0; }
.ui.basic.table { border:1px solid #fff; }
.ui.compact.table td { padding:2px 4px 1px;}
.field textarea { width:100%; }
#btnSave { width:50%; display:block; padding:20px; text-align:center; font-size:24px; margin:30px auto 100px; }