﻿@{
    ViewBag.Title = "Index";
}
<link href='/Content/StaffIndex.css' rel='stylesheet' type='text/css'>
<script type="text/x-template" id="memberlist-template">
    <div class="ui left menu main">
        <div class="item"><div class="ui icon input"><input type="text" v-model="searchText" placeholder="任意搜尋..."><i class="search link icon"></i></div></div>
        <div class="item">搜尋出：{{icountMembers}} 筆資料</div>
        <div class="item"><div class="ui button" v-on="click: clickImport2DB"><i class="ui icon home"></i> 匯入資料庫</div></div>
    </div>
    <table id="memberList">
        <thead><tr><td>日期</td><td>單位/員工</td><td>軟體資料</td></tr></thead>
        <tbody><tr v-repeat="members | filterBy searchText in rd"><td>{{dt | formatDate}}</td><td>{{usr}}</td><td>{{rd}}</td></tr></tbody>
    </table>
</script>

<b id="loadingDiv">Loading.......</b>
<div id="main"><member-list v-ref="refMemberlist" wait-for="list-loaded"></member-list></div>

@section JS {<script data-main="./Scripts/query.js" src="/bower_components/requirejs/require.js"></script>
}