﻿@using System.Configuration;
@{
    ViewBag.Title = "Preview";
    string host = ConfigurationManager.AppSettings["WebHost"].ToString();
}
@model FormMaker.Models.FormSet
@*
<h2 class="pyrf h2">Preview Your Form</h2>*@
<div class="FormPanelPreview">
<h3 class="viewH3">@Model.Name</h3>
<div class="helpDscr">@Html.Raw(Model.Dscr.Replace("\n","<br />"))</div>

<form action="@host/Form/CustomFormSave" method="post">
    <div class="ui form" id="Fs" data-fsid="@Model.GID">
        <input type="hidden" name="FsID" id="FsID" />
    </div>

    <div id="QuestionListPV">
        <div class="ui raised segment op-item-real" v-repeat="questions" data-fdid="{{GID}}">
            <div class="floating ui green circular label op">{{SortNo}}</div>
            @*<div class="p-gid">{{GID}} - {{QsTyp}}</div>*@
            <div class="p-title">{{Title}}</div>
            <div class="p-helpText">{{HelpText}}</div>
            <div class="p-ctrl" data-placeholder="{{Placeholder}}"></div>
            <input type="hidden" name="{{GID}}" class="hiddenTyp" data-qstyp="{{QsTyp}}" value="" />
            <div class="p-options" v-component="cmp-{{QsTyp}}" v-with="childMsg : GID"></div>
        </div>
        <div class="ui small green button" id="btnSave" v-on="click:click_ddd"><i class="ui check icon"></i>Submit</div>
    </div>
</form>

</div>

    <div hidden id="fd-MultiChoice">
        <div v-repeat="FdOptions" class='column opt-checkbox'>
            <div class='ui checkbox'>
                <input id='{{Value}}'
                       class="cmp-ctrl"
                       cname="cmp-{{childMsg}}"
                       type='checkbox'
                       v-on="click: AddToHidden($data)" />
                <label for='{{Value}}'>{{Text}}</label>
            </div>
        </div>
     </div>


    <div hidden id="fd-Radio">
        <div v-repeat="FdOptions" class='column opt-checkbox'>
            <div class='ui radio checkbox'>
                <input id={{Value}}
                       class="cmp-ctrl"
                       name="cmp-{{childMsg}}"
                       cname="cmp-{{childMsg}}"
                       type="radio"
                       v-on="click: AddToHidden($data)" />
                <label for='{{Value}}'>{{Text}}</label>
            </div>
        </div>
    </div>

    <div hidden id="fd-Text">
        <div class='ui input'>
            <input type='text'
                   class="cmp-ctrl"
                   cname='cmp-{{childMsg}}'
                   maxlength="200"
                   id='{{Value}}'
                   v-on="click: AddToHidden($data)" />
        </div>
    </div>

    <div hidden id="fd-TextArea">
        <div class="ui form">
        <div class='ui field'>
            <textarea rows="4" cols="80" type="textarea"
                   class="cmp-ctrl"
                   maxlength="800"
                   cname='cmp-{{childMsg}}'
                   id='{{Value}}'
                   v-on="click: AddToHidden($data)" ></textarea>
        </div>
        </div>
    </div>

@section Scripts{
    <script type="text/javascript">

        var dd = {},
            fsid = $("#Fs").attr("data-FsID"),
            pp;

        $(function () {
            var fsid = $("#Fs").attr("data-fsid");
            //console.log(fsid);
            $("#FsID").val(fsid);

            $.post(host + "/Sync/Fds", { FsID: fsid }, function (rs) {
                dd = rs;
                pp = new Vue({
                    el: "#QuestionListPV",
                    data: {
                        questions: rs
                    },
                    components: {
                        "cmp-MultiChoice": { inherit: true, template: "#fd-MultiChoice" },
                        "cmp-Checkboxs": { inherit: true, template: "#fd-Radio" },
                        "cmp-Text": { inherit: true, template: "#fd-Text" },
                        "cmp-TextArea": { inherit: true, template: "#fd-TextArea" }
                    },
                    methods: {
                        click_ddd: ClickSave,
                        AddToHidden: fnAddToHidden
                    }
                });
                Vue.config.debug = true;
                FdItems.UserSelectedAnswer(fsid);
            });

        });

        function fnAddToHidden(e) {
            //console.log(e, $(e).parent());
        }

        function ClickSave(e) {
            var me, n = "", n2 = "", typ = "", chk = "", ss = "", v1 = "", v2 = "";

            $(".hiddenTyp").val("").each(function (i, n) {
                var qy = $(n).attr("data-qstyp");
                $(n).val(qy);
            });

            $(".cmp-ctrl").each(function (i, n) {
                me = $(n);
                n = me.attr("cname").replace("cmp-", "");
                n2 = "input[name='" + n + "']";
                typ = me.attr("type");
                chk = me.prop("checked");
                v1 = ((typ === "checkbox" || typ === "radio") && chk)
                        ? "," + me.attr("id") : (typ === "text")
                        ? "," + me.val() : (typ === "textarea")
                        ? "," + me.val() : "";
                v2 = $(n2).val() + v1;
                $(n2).val(v2);
            });

            $("input[type=hidden]").each(function (i, n) {
                var me = $(n)
                    , typ = me.attr("type")
                    , chk = (me.prop("checked") == undefined) ? "" : me.prop("checked")
                    , v = me.val();
                console.log(n, v);
            });
            $("form").submit();
        }


    </script>
}
