﻿#main { width:100%; border:solid 1px #aaa; padding:10px; }
#memberList { width:100%; }
td { border:solid 1px #ddd; padding:4px 10px; margin:0;}
#loadingDiv { background-color:gold; color:#444; padding:2px 10px; }
table#memberList tbody { background-color: #fff; height: 500px; overflow-y: auto; overflow-x:hidden; border:solid 1px #ddd; }
table#memberList thead > tr, table#memberList tbody{ display:block; }
table#memberList thead, table#memberList tbody { display: block; }
table#memberList td:nth-child(1) { min-width: 100px; }
table#memberList td:nth-child(2) { min-width: 200px; }
table#memberList td:nth-child(3) { min-width: 600px; }