﻿@{
    ViewBag.Title = "CalculateDate";
    DateTime dt = DateTime.Now;
    string t1 = dt.AddDays(-7).ToString("yyyy-MM-dd");
    string t2 = dt.AddDays(-1).ToString("yyyy-MM-dd");
    }

<h2>CalculateDate</h2>
<h1>@t1 - @t2</h1>