﻿<div class="ui raised segment editItemPanel template">
<table class="ui compact basic table">
<tbody>
<tr>
    <td class="three wide tt"><label>Question Title</label></td>
    <td class="nine wide">
        <div class="ui form"><div class="field">
        <input type="hidden" disabled="disabled" id="CreateUser" />
        <input type="hidden" disabled="disabled" id="FdGID" />
        <input type="text" name="title" id="Title" value="" placeholder="題目，限250字內。" />
        </div></div>
    </td>
    <td class ="four wide item-subbtn">
        <div class="ui icon right tiny button" id="btnQItemView" title="不儲存，跳到檢視模式"><i class="large unhide icon"></i></div>
        <div class="ui icon right tiny button" id="btnQItemSave" title="儲存。"><i class="large save icon"></i></div>
    </td>
</tr>

<tr>
    <td class="tt"><label>Help Text</label></td>
    <td>
        <div class="ui form"><div class="field">
        <input type="text" id="HelpText" value="" placeholder="輔助說明，限500字內" />
        </div></div>
        </td>
    <td></td>
</tr>
<tr>
    <td class="tt"><label>Question Type</label></td>
    <td><div><select id="ddl_QsTyp">
            <option value="Text">Text</option>
            <option value="TextArea">Paragraph text - 備註說明欄位</option>
            <option value="LText">List text - 下拉選單</option>
            <option value="Checkboxs">Checkboxs - 單選題</option>
            <option value="MultiChoice">Multipule choice - 複選題</option>
            <option value="DropDownList">Choice from a list</option>
            <option value="Scale">Scale</option>
        </select></div>
        <div class="ui segament QSCtrl"></div>
    </td>
    <td></td>
</tr>
<tr>
    <td></td>
    <td>
        <div class="ui checkbox"><input id="IsRequire" type="checkbox"><label for="IsRequired">Required question</label></div>
        <div class="ui checkbox"><input id="IsOneLine" type="checkbox"><label for="IsOneLine">Is One Line?</label></div>
    </td>
    <td></td>
</tr>
</tbody>
</table>
</div>