﻿@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "錯誤";
}

<hgroup class="title">
    <h1 class="error">錯誤。</h1>
    <h2 class="error">處理您的要求時發生錯誤。</h2>
    <p>@Model.ActionName</p>
    <p>@Model.Exception.Data</p>
    <p>@Model.Exception.InnerException</p>
    <p>@Model.Exception.Message</p>
    <p>@Model.Exception.Source</p>
</hgroup>
