﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>[TimeSheet提醒通知] 自{{MinDate}}起有 {{CCDays}} 天未填</title>
</head>
<body>
<style type="text/css">
b.pree { color:#ff6666; font-size:16px; }
</style>
<pre class="pree" style="font-size:14px; color:#555;">
Dear {{UserName}},

提醒您，從{{MinDate}}開始至今有 <b class='pree'>{{CCDays}}</b> 天工作時數尚未填寫，請您撥空登入<a href="http://192.168.7.18/TimeSheet/" style="color:Blue;">TimeSheet System</a> 填寫，謝謝。
<br /><br />未填日期：{{DateList}}
<br /><br />P.S.:例假日與經核准請假日不列入統計。
</pre>

</body>
</html>
